@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px); /* Altura del rebote flotante */
  }
}

.animate-float {
  animation: float 3.5s ease-in-out infinite;
}